 <style type="text/css">

      body { background-color: #fff; }
      div.card{max-width:300px; max-height:390px; min-height:390px;}
      img.card-img-top{max-width:310px; max-height:200px; min-height:200px}
      p.card-text {
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h5.card-title{
        height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
 </style>
 </head>
  <body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" data-test="logo" href="/">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
